<!DOCTYPE html>
<html>
<head>
	<title>MyBook | {{uname}}</title>
</head>
<body>
	<h1>Home</h1>
	<p>Welcome home <b>{{uname}}</b>! <a href="/logout">Logout</a></p>
	<hr>
	Add new <a href="add/img">Image</a>, <a href="add/msg">Message</a> or <a href="add/vid">Video</a>!
	<hr>
	<h2>My Feed</h2>
	{% for post in posts %}
		{% if post.type == "message" %}
			<p><font size="4"><b>{{ post.title }}</b></font>
				<font size="2">by {{ post.by }}</font><br>
			{{ post.content }}</p>
			<br>
		{% elif post.type == "image" %}
			<p><font size="4"><b>{{ post.title }}</b></font>
				<font size="2">by {{ post.by }}</font><br>
			{{ post.content }}</p>
			<br>
		{% elif post.type == "video" %}
			<p><font size="4"><b>{{ post.title }}</b></font>
				<font size="2">by {{ post.by }}</font><br>
			{{ post.content }}</p>
			<br>
		{% endif %}
	{% endfor %}
	
</body>
</html>