<!DOCTYPE html>
<html>
<head>
	<title>MyBook | {{uname}}</title>
</head>
<body>
	<h1>Home</h1>
	<p>Welcome home <b><a href="/user/{{ uname }}">{{uname}}</a></b>! <a href="/logout">Logout</a></p>
	<hr>
	Add new <a href="add/img">Image</a>, <a href="add/msg">Message</a> or <a href="add/vid">Video</a>!
	<hr>
	Checkout some more people... 
	{% for user in ousers %}
		{% if uname != user.username %}
			<a href="/user/{{ user.username }}/">{{ user.username }}</a>
		{% endif %}
	{% endfor %}
	<hr>
	<h2>My Feed</h2>
	{% for post in posts %}
		{% if post.type == 0 %}
			<p><font size="4"><b>{{ post.title }}</b></font>
				<font size="2">by <a href="/user/{{ post.username }}">{{ post.username }}</a></font><br>
			{{ post.content }}</p>
			<br>
		{% elif post.type == 1 %}
			<p><font size="4"><b>{{ post.title }}</b></font>
				<font size="2">by <a href="/user/{{ post.username }}">{{ post.username }}</a></font><br></p>
			<img src="/{{ post.content }}">
			<br>
		{% elif post.type == 2 %}
			<p><font size="4"><b>{{ post.title }}</b></font>
				<font size="2">by <a href="/user/{{ post.username }}">{{ post.username }}</a></font><br></p>
			<video width="320" height="240" controls>
				<source src="/{{ post.content }}" type="video/mp4">
				Your browser does not support the video tag.
			</video>
			
			<br>
		{% endif %}
	{% endfor %}
	
</body>
</html>