<!DOCTYPE html>
<html>
<head>
	<title>{{ouname}}'s Profile | {{uname}}</title>
</head>
<body>
	{% if uname %}
		<p>Hi, <b><a href="/user/{{ uname }}">{{uname}}</a></b>!</p>
	{% endif %}
	<a href="/">Home</a> 
	{% if uname %}
		<a href="/logout">Logout</a>
	{% else %}
		<a href="/login">Login</a>
	{% endif %}

	<hr>
	<h3>{{ouname}}'s Profile</h3>

	{% if uname == ouname %}
		<form action="" method="POST">{% csrf_token %}
			Name: <input type="text" name="name" value="{{ odetail.name }}"><br>
			Username: <input type="text" name="uname" value="{{ odetail.uname }}" readonly><br>
			Age: <input type="text" name="age" value="{{ odetail.age }}"><br>
			Following: {{ odetail.following }}<br>
			<input type="submit" name="submit" value="Update">
		</form>
	{% else %}
		{% if uname %}
			{% if following %}
				<a href="/unfollow/{{ouname}}">Unfollow</a><br>
			{% else %}
				<a href="/follow/{{ouname}}">Follow</a><br>
			{% endif %}
		{% endif %}
		Name: {{ odetail.name }}<br>
		Username: {{ odetail.uname }}<br>
		Age: {{ odetail.age }}<br>
		Following: {{ odetail.following }}
	{% endif %}
	<hr>
	<h2> {{ ouname }}'s Posts</h2>
	{% for post in posts %}
		{% if post.type == 0 %}
			<p><font size="4"><b>{{ post.title }}</b></font><br>
			{{ post.content }}</p>
			<br>
		{% elif post.type == 1 %}
			<p><font size="4"><b>{{ post.title }}</b></font><br>
			{{ post.content }}</p>
			<br>
		{% elif post.type == 2 %}
			<p><font size="4"><b>{{ post.title }}</b></font><br>
			{{ post.content }}</p>
			<br>
		{% endif %}
	{% endfor %}
</body>
</html>